<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, user-scalable=no" />
      <title>{{gallery.title}} - {{album.title}}</title>
      <link rel="stylesheet" href="{{relative 'public/lightgallery/css/lightgallery.min.css'}}" />
      <link rel="stylesheet" href="{{relative 'public/core.css'}}" />
      <link rel="stylesheet" href="{{relative 'public/theme.css'}}" />
  </head>

  <body>

    {{> content}}

    <!-- jQuery -->
    <script src="{{relative 'public/jquery.min.js'}}"></script>
    <!-- LightGallery -->
    <script src="{{relative 'public/lightgallery/js/lightgallery-all.min.js'}}"></script>
    <script>
      $(document).ready(function() {
        $("#media").lightGallery({
          thumbWidth: 80,
          controls: true,
          share: false,
          hideBarsDelay: 2000,
          getCaptionFromTitleOrAlt: false,
          loop : false,
          actualSize: false,
          flipVertical: false,
          download: true,
          counter: true,
          videojs: false,
          fullScreen: true,
          zoom: true
        });
      });
    </script>
  </body>
</html>
