<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name=description content="gallery {{gallery.title}} - {{album.title}}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{gallery.title}} - {{album.title}}</title>
      <link rel="stylesheet" href="{{relative 'public/lightgallery/css/lightgallery.min.css'}}" />
      <link rel="stylesheet" href="{{relative 'public/core.css'}}" />
      <link rel="stylesheet" href="{{relative 'public/theme.css'}}" />
      <style>
          nav {text-align: left; border-bottom: 1px solid #d3d3d3;line-height: 150%; margin-top: 0.8em;}
          nav a {padding-right: 1em; text-decoration: underline;}
      </style>
  </head>
  <body>
    <nav>
      <a href="https://www.kurmis.com/">Home</a> <a href="https://www.kurmis.com/blog">Blog</a> <a href="https://www.kurmis.com/links">Links</a> <a href="https://www.kurmis.com/gallery/">Photo gallery</a> <a href="https://www.kurmis.com/password-generator/">Password generator</a>
    </nav>
    {{> content}}
    <script src="{{relative 'public/jquery.min.js'}}"></script>
    <script src="{{relative 'public/lightgallery/js/lightgallery-all.min.js'}}"></script>
    <script>
      $(document).ready(function() {
        $("#media").lightGallery({
          thumbWidth: 80,
          controls: true,
          share: false,
          hideBarsDelay: 2000,
          getCaptionFromTitleOrAlt: false,
          loop : false,
          actualSize: false,
          rotate: false,
          flipHorizontal: false,
          flipVertical: false,
          download: true,
          counter: true,
          videojs: false,
          fullScreen: true,
          zoom: true,
          mode: 'lg-fade'
        });
      });
    </script>
  </body>
</html>
